{% extends "layout.html" %}
{% block independentJSS %}
<script type="text/javascript" src="{{ url_for('static', filename = 'Home.js') }}"></script>

{% endblock %}

{% block extraScript %}
<script>


</script>
{% endblock %}

{% block styles %}

<style>

/* First, let's import the fonts we want to use */

@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Alright, now for the rest of the CSS */
body {background-color: white;}

h1   {color: black;
font-family: 'Ranchers';
position: absolute;
  left: 60%;
  top: 25%;
  margin-left: -180px;
  font-size: 65px;}

p    {color: black;
font-family: 'Roboto';
position: absolute;
  left: 73%;
  top: 45%;
  margin-left: -180px;
  font-size: 20px;}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #2471A3;
  font-family: 'Roboto';
}

.button:hover {background-color: #2471A3}

.button:active {
  background-color: #2471A3;
  transform: translateY(4px);
}

.button1 {background-color: #008CBA;
position: absolute;
  left: 74%;
  top: 55%;
  margin-left: -180px;} /* Blue */
.button2 {background-color: #008CBA;
position: absolute;
  left: 73%;
  top: 65%;
  margin-left: -180px;} /* Blue */

</style>

{% endblock %}



{% block baseHTML %}


<div class="container-fluid">
  <div class="col-md-4"></div>
		<div class="col-md-4">
            <div class="col-md-12">
              <img id="home_image" alt="Bootstrap Image Preview" src="/static/images/virusGroup.png" width="500" height="500", class="center" />
            </div>
    <div class="row"></div>
    <div class="center">
      <h1>Going Viral!</h1>
      <p>A Battle of the Viruses</p>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="row"></div>
      <button class="button button1" onclick="window.location.href='/game'">Start Game</button>
      <div class="row"></div>
      <button class="button button2" onclick="window.location.href='/howToPlay'">How To Play</button>
    </div>
  </div>
	<div class="col-md-4"></div>
</div>


{% endblock %}