
{% extends "layout.html" %}
{% block independentJSS %}
<script type="text/javascript" src="{{ url_for('static', filename = 'NewGame.js') }}"></script>

{% endblock %}

{% block extraScript %}
<script>


</script>
{% endblock %}

{% block styles %}

<style>

</style>

{% endblock %}



{% block baseHTML %}


    <div id="bio">

        The site for <b>Anime Fans</b>, by <b>Anime Fans</b> 
        <br>


        Look up and explore various Anime Shows and Movies


    </div>

<br><br>


{% endblock %}




